# Arquivo para ignorar no Docker
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.temp

# Arquivos do Git
.git/
